{% extends "base.html" %}

{% block content %}

<div class="col-6 mx-auto">
<div class="text-center mt-5">
    <img src="https://img.freepik.com/premium-vector/coffee-vector_25327-18.jpg" class="img-fluid img-responsive" style= "height:275px">
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h1>Razorpay Payment Form</h1>
    <form id="paymentForm">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="amount">Amount (in INR):</label><br>
        <input type="number" id="amount" name="amount"><br><br>
        <button type="button" id="payButton" class="btn btn-success btn-block">Pay Now</button>
        
    </form>

    <div id="paymentDetails" style="display: none;">
        <h2>Payment Details</h2>
        <p id="paymentId"></p>
        <p id="paymentAmount"></p>
        <p id="paymentStatus"></p>
    </div>

    <script>
        var options = {
            key: 'rzp_test_W4oqXTwXWe8a70', // Replace with your actual Razorpay key
            amount: 50000, // Example amount in paise (100 paise = 1 INR)
            currency: 'INR',
            name: 'The Coffee shop',
            description: 'Payment for coffee',
            image: 'https://img.freepik.com/premium-vector/coffee-vector_25327-18.jpg',
            handler: function(response) {
                document.getElementById('paymentId').innerHTML = 'Payment ID: ' + response.razorpay_payment_id;
                document.getElementById('paymentAmount').innerHTML = 'Amount: ' + response.amount;
                document.getElementById('paymentStatus').innerHTML = 'Status: ' + response.status;
                document.getElementById('paymentDetails').style.display = 'block';
            }
        };

        var rzp1 = new Razorpay(options);

        document.getElementById('payButton').onclick = function(e) {
            rzp1.open();
            e.preventDefault();
        };
    </script>
</body>
</html>

{% endblock %}
